main section {padding:4rem 0;background:#fff;}

//main {
//  section {padding-top:4rem;padding-bottom:4rem;}
//}
//
//@media screen and (max-width:$screen-md){
//  main {
//    section.container {width:100%;padding:$grid-gutter-width;}
//  }
//}
//
//@media screen and (max-width:$screen-sm){
//  main {
//    section.container {width:100%;padding:$grid-gutter-width ($grid-gutter-width/2);}
//  }
//}