html, body {
  height: 100%;
  font-size: 17px;
  -webkit-font-smoothing: antialiased; }

body {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

*:active, *:focus {
  outline: none !important; }

a, a:hover, a:active {
  cursor: pointer; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto; }

h1:nth-child(1), h2:nth-child(1), h3:nth-child(1) {
  margin-top: 0; }

.btn {
  text-transform: uppercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.btn-translucent {
  font-weight: 300;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.05);
  border-color: #fff; }
  .btn-translucent:hover, .btn-translucent:focus, .btn-translucent.focus, .btn-translucent:active, .btn-translucent.active, .open > .btn-translucent.dropdown-toggle {
    color: inherit;
    background-color: rgba(230, 230, 230, 0.05);
    border-color: #e0e0e0; }
  .btn-translucent:active, .btn-translucent.active, .open > .btn-translucent.dropdown-toggle {
    background-image: none; }
  .btn-translucent.disabled, .btn-translucent.disabled:hover, .btn-translucent.disabled:focus, .btn-translucent.disabled.focus, .btn-translucent.disabled:active, .btn-translucent.disabled.active, .btn-translucent[disabled], .btn-translucent[disabled]:hover, .btn-translucent[disabled]:focus, .btn-translucent[disabled].focus, .btn-translucent[disabled]:active, .btn-translucent[disabled].active, fieldset[disabled] .btn-translucent, fieldset[disabled] .btn-translucent:hover, fieldset[disabled] .btn-translucent:focus, fieldset[disabled] .btn-translucent.focus, fieldset[disabled] .btn-translucent:active, fieldset[disabled] .btn-translucent.active {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #fff; }
  .btn-translucent .badge {
    color: rgba(255, 255, 255, 0.05);
    background-color: inherit; }

.tabular {
  display: table;
  width: 100%;
  height: 100%; }
  .tabular .cellular {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle; }
    .tabular .cellular.text-left {
      text-align: left; }
    .tabular .cellular.text-right {
      text-align: right; }
    .tabular .cellular.v-top {
      vertical-align: top; }
    .tabular .cellular.v-bottom {
      vertical-align: bottom; }

.row.padless [class*="col-"] {
  padding: 0; }

.box-pad {
  padding: 1rem; }

.palette-1 {
  background: #191d32;
  color: #eeeeee; }

.palette-2 {
  background: #282f44;
  color: #eeeeee; }

.palette-3 {
  background: #453a49;
  color: #eeeeee; }

.palette-4 {
  background: #6d3b47;
  color: #eeeeee; }

.palette-5 {
  background: #cad2c5;
  color: #222222; }

.palette-2 a {
  color: #cad2c5; }

#c-level-1 {
  height: 100%; }
  #c-level-1 nav, #c-level-1 header [wrapper], #c-level-1 main {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear; }

.table.custom td {
  border: 0;
  width: 33.33%; }
.table.custom tr.subheader {
  font-size: 110%;
  font-weight: bold; }
  .table.custom tr.subheader td {
    border-top: 2px solid #ccc;
    border-bottom: 1px dotted #ccc; }
.table.custom ul {
  list-style: none;
  padding: 0;
  margin: 0; }

@media screen and (min-width: 992px) {
  html:not(.touch) #c-level-1 nav.docked {
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease; }
    html:not(.touch) #c-level-1 nav.docked:hover {
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s; } }
.schuster-logo {
  font-family: "Libre Baskerville", "Roboto Slab", serif;
  color: #333333;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: inline-block;
  line-height: 1;
  position: relative;
  z-index: 1;
  white-space: nowrap; }
  .schuster-logo span {
    font-weight: 100;
    display: block;
    line-height: inherit; }
    .schuster-logo span:nth-child(1) {
      font-size: 125%; }
    .schuster-logo span:nth-child(2) {
      font-size: 125%; }
    .schuster-logo span b {
      font-weight: 100;
      font-size: 65%;
      padding: 0 0.2rem; }
    .schuster-logo span:nth-child(3) {
      font-size: 60%; }

[parallax] {
  display: table;
  width: 100%;
  background: transparent no-repeat 50% 50%;
  background-size: cover;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  [parallax] .parallax-inner1 {
    padding: 4rem 2rem;
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle; }
  [parallax] .parallax-inner2 {
    max-width: 800px;
    margin: 0 auto;
    display: inline-block;
    background: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    color: #fff; }

#c-level-1 header {
  position: relative;
  background: #eeeeee;
  z-index: 1; }
  #c-level-1 header nav {
    background: #11141d;
    color: #cad2c5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    height: 100%;
    width: 320px;
    z-index: 4; }
    #c-level-1 header nav::after {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      content: '';
      display: block;
      top: 0;
      bottom: 0;
      min-height: 100%;
      right: 100%;
      width: 1000%;
      background: rgba(0, 0, 0, 0.8);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #c-level-1 header nav a {
      color: #eeeeee; }
      #c-level-1 header nav a:hover, #c-level-1 header nav a:active, #c-level-1 header nav a:focus {
        color: #d0d0d0; }
    #c-level-1 header nav .inner {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 2;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; }
    #c-level-1 header nav .trigger {
      color: #222222;
      line-height: 1;
      font-size: 2rem;
      padding: 1rem;
      text-align: center;
      position: absolute;
      display: block;
      right: 100%;
      display: inline-block;
      z-index: 2; }
      #c-level-1 header nav .trigger:hover, #c-level-1 header nav .trigger:active, #c-level-1 header nav .trigger:focus {
        color: #040404; }
      #c-level-1 header nav .trigger span {
        display: none;
        padding-right: 10px;
        text-transform: uppercase; }
    #c-level-1 header nav ul {
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 0;
      list-style: none; }
      #c-level-1 header nav ul li {
        font-size: 1rem;
        line-height: 1;
        padding: 0; }
        #c-level-1 header nav ul li a {
          display: block; }
    #c-level-1 header nav .minority {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
      #c-level-1 header nav .minority li {
        font-size: 1.1rem;
        width: calc(100% / 3);
        text-align: center;
        display: inline-block; }
        #c-level-1 header nav .minority li a {
          padding: 1rem 0.25rem;
          background: rgba(255, 255, 255, 0.05); }
        #c-level-1 header nav .minority li span {
          display: none; }
    #c-level-1 header nav .majority > li {
      font-size: 1rem;
      position: relative; }
      #c-level-1 header nav .majority > li a {
        padding: 1rem;
        border-top: 3px solid;
        position: static;
        z-index: 1; }
      #c-level-1 header nav .majority > li:nth-child(4n+1) a {
        border-top-color: #cad2c5; }
      #c-level-1 header nav .majority > li:nth-child(4n+2) a {
        border-top-color: #453a49; }
      #c-level-1 header nav .majority > li:nth-child(4n+3) a {
        border-top-color: #6d3b47; }
      #c-level-1 header nav .majority > li:nth-child(4n+4) a {
        border-top-color: #282f44; }
    #c-level-1 header nav .majority .sub {
      z-index: -1; }
      #c-level-1 header nav .majority .sub li a {
        padding-left: 2rem;
        border-top-width: 1px;
        border-top-style: dotted; }
  #c-level-1 header .schuster-logo {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  #c-level-1 header [wrapper] {
    height: 100%;
    position: relative;
    padding-top: 8.5rem; }
  #c-level-1 header [masthead] {
    position: relative;
    background: transparent url("/packages/lineal/images/textures/lozenge2.png") repeat 50% 50%; }
    #c-level-1 header [masthead] figure {
      margin: 0;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: no-repeat 50% 50%;
      background-size: cover;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      #c-level-1 header [masthead] figure.active {
        visibility: visible;
        opacity: 1; }
  #c-level-1 header .page-title {
    position: relative;
    text-align: center;
    padding: 9rem 3rem 8rem;
    font-size: 1.7rem;
    color: #eeeeee;
    background-size: cover;
    background-position: 50% 25%; }
    #c-level-1 header .page-title::before {
      content: '';
      background: rgba(60, 60, 60, 0.35);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    #c-level-1 header .page-title .page-title-inner {
      position: relative;
      margin: 0 auto;
      max-width: 978px;
      z-index: 1; }
    #c-level-1 header .page-title h1 {
      font-size: 180%;
      text-transform: uppercase; }
    #c-level-1 header .page-title p {
      margin-bottom: 0; }
  #c-level-1 header.home {
    height: 100%; }
    #c-level-1 header.home nav .trigger {
      color: #eeeeee; }
      #c-level-1 header.home nav .trigger:hover, #c-level-1 header.home nav .trigger:active, #c-level-1 header.home nav .trigger:focus {
        color: #d0d0d0; }
    #c-level-1 header.home .schuster-logo {
      color: #eeeeee;
      text-shadow: 0 1px 0 #000; }
    #c-level-1 header.home [wrapper] {
      padding-top: 0; }
    #c-level-1 header.home [masthead] {
      color: #fff;
      padding: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      #c-level-1 header.home [masthead] .tabular {
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.1) 50%);
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.1) 50%);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.1) 50%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#1A000000', GradientType=0); }
      #c-level-1 header.home [masthead] .cellular {
        padding-top: 4rem; }
      #c-level-1 header.home [masthead] h1 {
        padding: 1rem;
        text-transform: uppercase;
        line-height: 1;
        max-width: 800px;
        font-size: 200%;
        margin: 0 auto 1rem;
        text-shadow: 0 0px 60px rgba(255, 255, 255, 0.25); }
      #c-level-1 header.home [masthead] .indicators {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 1rem;
        z-index: 2; }
        #c-level-1 header.home [masthead] .indicators .indicator {
          display: inline-block;
          padding: 2px;
          text-align: center;
          position: relative;
          min-width: 20px;
          min-height: 25px; }
          #c-level-1 header.home [masthead] .indicators .indicator i {
            display: inline-block;
            position: absolute;
            top: 5px;
            left: 0;
            right: 0;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease; }
          #c-level-1 header.home [masthead] .indicators .indicator .icon-circle {
            color: #cad2c5;
            visibility: hidden;
            opacity: 0;
            top: 100%; }
          #c-level-1 header.home [masthead] .indicators .indicator:hover .icon-circle-o, #c-level-1 header.home [masthead] .indicators .indicator.active .icon-circle-o {
            top: -100%;
            opacity: 0;
            visibility: hidden; }
          #c-level-1 header.home [masthead] .indicators .indicator:hover .icon-circle, #c-level-1 header.home [masthead] .indicators .indicator.active .icon-circle {
            top: 5px;
            opacity: 1;
            visibility: visible; }

/****************************************************************
* Activate the sidebar!
****************************************************************/
html.sidebar-nav #c-level-1 nav, html.sidebar-nav #c-level-1 header [wrapper], html.sidebar-nav #c-level-1 main {
  -moz-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  -webkit-transform: translateX(-320px);
  transform: translateX(-320px); }
html.sidebar-nav #c-level-1 nav {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  html.sidebar-nav #c-level-1 nav::after {
    opacity: 1;
    visibility: visible; }
  html.sidebar-nav #c-level-1 nav .trigger {
    color: #eeeeee; }
    html.sidebar-nav #c-level-1 nav .trigger:hover, html.sidebar-nav #c-level-1 nav .trigger:active, html.sidebar-nav #c-level-1 nav .trigger:focus {
      color: #d0d0d0; }

/****************************************************************
* > $screen-sm
****************************************************************/
@media screen and (min-width: 768px) {
  #c-level-1 header.home {
    height: 50%;
    min-height: 500px; }
    #c-level-1 header.home [masthead] h1 {
      font-size: 300%; }
  #c-level-1 header .schuster-logo {
    padding: 2rem; } }
/****************************************************************
* > $screen-md, NOT A TOUCH DEVICE, and no .sidebar-nav class
****************************************************************/
@media screen and (min-width: 992px) {
  html:not(.touch) #c-level-1 nav, html:not(.touch) #c-level-1 header [wrapper], html:not(.touch) #c-level-1 main {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  html:not(.touch) #c-level-1 nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
    html:not(.touch) #c-level-1 nav::after {
      opacity: 0;
      visibility: hidden; }
  html:not(.touch) #c-level-1 header nav {
    text-align: right;
    padding: 0 1rem;
    width: auto;
    height: auto;
    bottom: auto;
    left: auto;
    right: 0;
    background: transparent;
    white-space: nowrap; }
    html:not(.touch) #c-level-1 header nav a {
      color: #555555; }
      html:not(.touch) #c-level-1 header nav a:hover, html:not(.touch) #c-level-1 header nav a:active, html:not(.touch) #c-level-1 header nav a:focus {
        color: #373737; }
    html:not(.touch) #c-level-1 header nav .inner {
      padding: 1rem 1rem 0 0;
      height: auto;
      overflow-x: visible;
      overflow-y: visible; }
    html:not(.touch) #c-level-1 header nav .trigger {
      display: none; }
    html:not(.touch) #c-level-1 header nav .minority li {
      font-size: 0.75rem;
      width: auto; }
      html:not(.touch) #c-level-1 header nav .minority li a {
        background: transparent;
        padding: 1rem 0.6rem; }
        html:not(.touch) #c-level-1 header nav .minority li a i {
          font-size: 140%;
          position: relative;
          top: 2px;
          right: 2px; }
      html:not(.touch) #c-level-1 header nav .minority li span {
        display: inline; }
    html:not(.touch) #c-level-1 header nav .majority li {
      display: inline-block; }
      html:not(.touch) #c-level-1 header nav .majority li a {
        padding: 1rem 0.6rem; }
      html:not(.touch) #c-level-1 header nav .majority li:hover {
        background: rgba(255, 255, 255, 0.95); }
    html:not(.touch) #c-level-1 header nav .majority .sub {
      min-width: 300px;
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      background: rgba(255, 255, 255, 0.95);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); }
      html:not(.touch) #c-level-1 header nav .majority .sub li {
        display: block;
        text-align: left; }
        html:not(.touch) #c-level-1 header nav .majority .sub li a {
          padding-left: 1rem; }
          html:not(.touch) #c-level-1 header nav .majority .sub li a:hover {
            background: rgba(255, 255, 255, 0.1); }
        html:not(.touch) #c-level-1 header nav .majority .sub li:first-child a {
          border-top: 0; }
    html:not(.touch) #c-level-1 header nav .majority li:hover a {
      color: #555555; }
    html:not(.touch) #c-level-1 header nav .majority li:hover .sub {
      display: block; }
    html:not(.touch) #c-level-1 header nav.docked {
      background: #11141d;
      width: 100%;
      left: 0;
      top: 0;
      text-align: center;
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%); }
      html:not(.touch) #c-level-1 header nav.docked:hover {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0); }
      html:not(.touch) #c-level-1 header nav.docked .inner {
        padding-top: 0; }
      html:not(.touch) #c-level-1 header nav.docked a {
        color: #eeeeee; }
        html:not(.touch) #c-level-1 header nav.docked a:hover, html:not(.touch) #c-level-1 header nav.docked a:active, html:not(.touch) #c-level-1 header nav.docked a:focus {
          color: #d0d0d0; }
      html:not(.touch) #c-level-1 header nav.docked .trigger {
        font-size: 1.1rem;
        display: block;
        top: 100%;
        right: 0;
        left: 0;
        padding: 1rem;
        background: #282f44;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
        html:not(.touch) #c-level-1 header nav.docked .trigger span {
          display: inline-block; }
  html:not(.touch) #c-level-1 header.home nav a {
    color: #eeeeee; }
    html:not(.touch) #c-level-1 header.home nav a:hover, html:not(.touch) #c-level-1 header.home nav a:active, html:not(.touch) #c-level-1 header.home nav a:focus {
      color: #d0d0d0; } }
/****************************************************************
* > $screen-lg, NOT A TOUCH DEVICE, and no .sidebar-nav class
****************************************************************/
@media screen and (min-width: 1200px) {
  html:not(.touch) #c-level-1 header nav .minority li a {
    padding: 1rem; }
  html:not(.touch) #c-level-1 header nav .majority li {
    font-size: 1.2rem; }
    html:not(.touch) #c-level-1 header nav .majority li a {
      padding: 1rem; } }
/****************************************************************
* Touch device
****************************************************************/
html.touch.sidebar-nav body {
  overflow: hidden !important; }

/***** TEMPORARY HACK TO HIDE ALL CHILD NEWS ITEMS *******/
main section {
  padding: 4rem 0;
  background: #fff; }

footer {
  text-align: center;
  color: #fff;
  font-size: 0.875rem;
  padding: 2rem 1rem;
  background: #191d32; }
  footer .container-fluid {
    max-width: 1170px; }
  footer .box-pad {
    border-top: 3px solid transparent; }
    footer .box-pad.border-1 {
      border-top-color: #191d32; }
    footer .box-pad.border-2 {
      border-top-color: #282f44; }
    footer .box-pad.border-3 {
      border-top-color: #453a49; }
    footer .box-pad.border-4 {
      border-top-color: #6d3b47; }
    footer .box-pad.border-5 {
      border-top-color: #cad2c5; }
    footer .box-pad.translucent {
      background: rgba(255, 255, 255, 0.08); }
      footer .box-pad.translucent p {
        color: #cad2c5;
        margin: 0; }
  footer .schuster-logo {
    color: #fff; }
  footer address {
    margin-bottom: 0; }
  footer h4 {
    margin-top: 0; }
  footer .badges img {
    padding: 5px;
    max-width: 90px; }
  footer .recent-news-item {
    display: block;
    color: #cad2c5; }
    footer .recent-news-item span {
      display: block;
      padding-bottom: 0.5rem; }
  footer .memberships a {
    color: #eeeeee !important; }

@media screen and (min-width: 768px) {
  footer {
    text-align: left; } }
@media screen and (min-width: 992px) {
  footer {
    padding: 2rem 2rem 0 2rem; } }
.pg-home main .slants {
  overflow-x: hidden; }

@media screen and (min-width: 992px) {
  .pg-home main .slants .row {
    margin-left: -30px;
    margin-right: -30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; }
    .pg-home main .slants .row [class*="col"] {
      -webkit-flex: 1;
      flex: 1;
      -moz-transform: skewX(-3deg);
      -ms-transform: skewX(-3deg);
      -webkit-transform: skewX(-3deg);
      transform: skewX(-3deg);
      margin: 0 -2px; }
    .pg-home main .slants .row .box-pad {
      padding: 2rem;
      margin: 0 30px;
      -moz-transform: skewX(3deg);
      -ms-transform: skewX(3deg);
      -webkit-transform: skewX(3deg);
      transform: skewX(3deg); } }
.pg-default .attorneys-team {
  padding: 0 15px; }
  .pg-default .attorneys-team hr {
    display: none !important;
    visibility: hidden; }
  .pg-default .attorneys-team h1 {
    font-size: 1.5rem; }
    .pg-default .attorneys-team h1 a {
      font-size: 120%; }
  .pg-default .attorneys-team h2 {
    font-size: 1.3rem; }
  .pg-default .attorneys-team ul {
    list-style: none;
    padding: 0;
    margin: 0; }

.pg-news .container.spaced {
  padding-top: 2rem;
  padding-bottom: 2rem; }
.pg-news .post-results {
  padding-bottom: 1rem;
  padding-left: 4.5rem; }
  .pg-news .post-results .news-post {
    display: block;
    position: relative;
    padding: 1rem 0 1rem 1rem;
    border-top: 1px dotted #dadada;
    margin-bottom: 1rem; }
    .pg-news .post-results .news-post h3 {
      padding: 0 0 0.5rem;
      margin: 0;
      text-transform: capitalize;
      line-height: 1; }
    .pg-news .post-results .news-post [date] {
      width: 4.5rem;
      display: inline-block;
      text-transform: uppercase;
      color: #777777;
      line-height: 1;
      font-weight: 400;
      text-align: center;
      position: absolute;
      top: -1px;
      right: 100%;
      background: #eeeeee; }
      .pg-news .post-results .news-post [date] b {
        display: block;
        font-size: 74%;
        line-height: inherit;
        font-weight: 300; }
      .pg-news .post-results .news-post [date] [month-year] {
        padding: 3px 0;
        background: rgba(0, 0, 0, 0.05); }
      .pg-news .post-results .news-post [date] [day] {
        font-size: 225%;
        padding: 0.35rem 0 0.65rem; }
    .pg-news .post-results .news-post .descr {
      margin: 0;
      padding-bottom: 0.25rem; }
    .pg-news .post-results .news-post label[tags] {
      margin: 0;
      font-size: 80%;
      font-weight: 400; }
      .pg-news .post-results .news-post label[tags] span {
        display: inline-block;
        margin: 0 3px;
        border-bottom: 1px dotted #cad2c5; }
.pg-news main section {
  padding: 0; }
  .pg-news main section .container-fluid .row [class*="col-"] {
    padding: 0; }
    .pg-news main section .container-fluid .row [class*="col-"]:last-of-type .news-post {
      border-right: none; }
  .pg-news main section .ccm-pagination-wrapper {
    text-align: center; }
    .pg-news main section .ccm-pagination-wrapper .pagination {
      margin: 0 auto;
      padding: 0; }
      .pg-news main section .ccm-pagination-wrapper .pagination li {
        display: inline-block; }
        .pg-news main section .ccm-pagination-wrapper .pagination li > a, .pg-news main section .ccm-pagination-wrapper .pagination li > span {
          color: #6d3b47;
          display: block;
          padding: 0.5rem 1rem; }
        .pg-news main section .ccm-pagination-wrapper .pagination li a:hover {
          background: #eeeeee; }
        .pg-news main section .ccm-pagination-wrapper .pagination li.active span {
          background-color: #6d3b47;
          border-color: #6d3b47;
          color: #cad2c5; }
        .pg-news main section .ccm-pagination-wrapper .pagination li.disabled {
          display: none; }

.pg-news_post header .date-and-tags {
  font-size: 1rem;
  line-height: 1; }
  .pg-news_post header .date-and-tags .tag {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 7px 14px;
    background: rgba(255, 255, 255, 0.25);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; }
    .pg-news_post header .date-and-tags .tag:hover {
      background: #fff;
      color: #6d3b47; }

.tag-list h4 {
  margin-top: 0; }
.tag-list li a {
  display: block;
  padding: 0.5rem 1rem;
  background: #eeeeee;
  border-top: 1px solid #dadada; }
.tag-list li.active a {
  background: #282f44;
  color: #cad2c5; }

.cms-admin #c-level-1 header nav, .cms-admin #c-level-1:not(.touch):not(.sidebar-nav) header nav.docked {
  top: 49px; }

.cms-edit-mode:not(.touch) #c-level-1 {
  height: 100%; }
  .cms-edit-mode:not(.touch) #c-level-1 nav, .cms-edit-mode:not(.touch) #c-level-1 header [wrapper], .cms-edit-mode:not(.touch) #c-level-1 main {
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
.cms-edit-mode section {
  overflow: visible; }
  .cms-edit-mode section [data-area-handle*="Main"]:not([data-area-handle*=":"]) {
    margin: -30px 0;
    padding: 30px 0; }
  .cms-edit-mode section .ccm-block-edit-layout {
    padding: 7.5px; }
    .cms-edit-mode section .ccm-block-edit-layout [class*="col-"] {
      padding-left: 15px !important;
      padding-right: 15px !important; }
.cms-edit-mode [parallax] .parallax-inner2 {
  min-width: 500px; }

/*# sourceMappingURL=app.css.map */
